body{
  font-family:sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  align-items:center;
  align-content: center;
  text-align: center;
  color: blue;
  text-align: center;
}
a:link{
  background-color: blue;
  color: red;
  font-size:24px;
}
a:visited{
animation:po 
  
  
}
     
